# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "0aa9fb0049571fb57a6f0634b668144c"
name = "qs-invoices"
#application_url = "https://pied-lanora-indicatively.ngrok-free.dev"
application_url = "https://qs-invoices-production.up.railway.app"

embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,read_orders,write_products"

[auth]
redirect_urls = [ "https://qs-invoices-production.up.railway.app/api/auth" ]
